table{
    border-spacing: 0;
}
table tr th, table tr td {
    border: 1px solid #CDCDCD;
}

table tr th {
    background-color: #e6EEEE;
}
table tr td{
    text-align: center;
}

table tr .nullElement{
    background-color: inherit;
    border-color: #fff;
}
