/bower_components
/settings/settings.js
*.map
/node_modules
/projectFilesBackup
/css/*.css
/app/*
/.tscache/
/npm-debug.log
/build
/src/.baseDir.ts
/tscommand*
/dist
/dist.web
/dist.admin
ext-vizels
*.iml
.idea/
.ipr
.iws
*~
~*
*.diff
*.patch
*.bak
.DS_Store
Thumbs.db
.project
.*proj
.svn/
*.swp
*.swo
*.pyc
*.pyo
node_modules
.vscode
i18n-messages
dist.admin
dist.web
